@use "@/styles/variables" as *;

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
}
